extends ../_template

block content
  +subHeader("Прайс - лист", true)
  +banner("assets/img/banner/laser.png", "Лазерная ЭПИЛЯЦИЯ", "Без боли")
  .container.pricesPage
    .sideSection
      -
        var sideMenuArray = [
          {name: 'Уход за лицом', src: 'yxod-za-licom'},
          {name: 'Контурная пластика', src: 'conturnaya-plastika'}
        ]
      +sideMenu(sideMenuArray)
      block _consultForm
        include ../common/_consultForm
      //- скидки нужно выводить первыми потом только консультации
      +sideDiscount("Скидка для  студентов 15%  на эпиляцию", "до 16.мая 2016")
      +sideDiscount("для теста", "для теста")
      //- класс цвета задаётся через админку в зависимости от выбранного цвета (их всего 4)
      +sideShare("-blue", "Консультация  дермато-венеролога  БЕСПЛАТНО", "до 24.мая 2016")
      +sideShare("-yellow", "для теста", "для теста")
      +sideShare("-pink", "для теста", "для теста")
      +sideShare("-brown", "для теста", "для теста")
    //- на этой страница необходимо чтоб к элементу с классом .pricesPage__item
    //- добавлялся id с таким же что и src ссылки с классом .sideMenu__link на этой странице
    .mainContent
      -
        var tableInfo = [
          {
            title: 'Уход за лицом',
            titleCODE: 'yxod-za-licom',
            tableName: 'Лоб',
            rowInfo: [
              {number: 1, name: "Лоб", price: 2000},
              {number: 2, name: "Межбровье МежбровьеМежбровье Межбровье", price: 1500},
              {number: 3, name: "Уши", price: 3350},
              {number: 4, name: "Подбородок", price: 1200}
            ]
          },
          {
            title: 'Контурная пластика',
            titleCODE: 'conturnaya-plastika',
            tableName: 'Лоб',
            rowInfo: [
              {number: 1, name: "Лоб", price: 2000},
              {number: 2, name: "Межбровье", price: 1500},
              {number: 3, name: "Уши", price: 3350},
              {number: 4, name: "Подбородок", price: 1200},
              {number: 5, name: "Лоб", price: 2000},
              {number: 6, name: "Межбровье", price: 1500},
              {number: 7, name: "Уши", price: 3350},
              {number: 8, name: "Подбородок", price: 1200}
            ]
          }
        ]
      each item in tableInfo
        .pricesPage__item(id= item.titleCODE)
          h3.title-bg= item.title
          table
            thead
              tr
                td №
                td Наименование
                td Цена
              tr.-name
                td= item.tableName
            tbody
              each itemTable, key in item.rowInfo
                - if (key == 1)
                  //- добавляеть class '-active' если есть параметр скидки для продукта
                  tr.-active
                    td= itemTable.number
                    td.-name= itemTable.name
                      //- добавляеть span если есть параметр скидки для продукта
                      span -20%
                    td= itemTable.price
                - else
                  tr
                    td= itemTable.number
                    td.-name= itemTable.name
                    td= itemTable.price