extends ../_template

block content
  +banner("assets/img/banner/laser-2.png", "Лазерная косметология", "Омоложение лица, лечение пигментации, удаление сосудов")
  .container.someService
    .sideSection
      -
        var sideMenuArray = [
          {name: 'Описание', src: 'description'},
          {name: 'Прайс - лист', src: 'price'},
          {name: 'Специалисты', src: 'specialists'},
          {name: 'Вопрос - ответ', src: 'FAQ'},
          {name: 'Отзывы', src: 'reviews'}
        ]
      +sideMenu(sideMenuArray)
      block _consultForm
        include ../common/_consultForm
      +sideDiscount("Скидка для  студентов 15%  на эпиляцию", "до 16.мая 2016")
      //- класс цвета задаётся через админку в зависимости от выбранного цвета (их всего 4)
      +sideShare("-blue", "Консультация  дермато-венеролога  БЕСПЛАТНО", "до 24.мая 2016")
    .mainContent
      section#description.someService__description
        .someService__descriptionItem
          h3 Омоложение лица
          p Целый «букет» активных веществ можно подарить коже и подкожно-жировой клетчатке с помощью очень популярной и эффективной методики — мезотерапии. Подобранные индивидуально коктейли из полезных ингредиентов (гиалуроновой кислоты, ферментов, аминокислот и др.) поставляются в проблемные места микроинъекциями в определенные точки и постепенно разворачивают бурную деятельность по омоложению – увеличению эластичности и упругости кожи, улучшению ее цвета и рельефа. Мезотерапия – мероприятие многоразовое, не дающее моментального эффекта: курсы придется повторять, благо, возрастных ограничений нет.
        .someService__descriptionItem
          h3 Лечение пигментации
          p Целый «букет» активных веществ можно подарить коже и подкожно-жировой клетчатке с помощью очень популярной и эффективной методики — мезотерапии. Подобранные индивидуально коктейли из полезных ингредиентов (гиалуроновой кислоты, ферментов, аминокислот и др.) поставляются в проблемные места микроинъекциями в определенные точки и постепенно разворачивают бурную деятельность по омоложению – увеличению эластичности и упругости кожи, улучшению ее цвета и рельефа.
        .someService__descriptionItem
          h3 Удаление сосудов
          p Целый «букет» активных веществ можно подарить коже и подкожно-жировой клетчатке с помощью очень популярной и эффективной методики — мезотерапии. Подобранные индивидуально коктейли из полезных ингредиентов (гиалуроновой кислоты, ферментов, аминокислот и др.) поставляются в проблемные места микроинъекциями в определенные точки и постепенно разворачивают бурную деятельность по омоложению – увеличению эластичности и упругости кожи, улучшению ее цвета и рельефа. Мезотерапия – мероприятие многоразовое, не дающее моментального эффекта: курсы придется повторять, благо, возрастных ограничений нет.
      -
        var tableInfo = {
          title: 'Стоимость услуг Лазерная косметология',
          tableName: 'Лоб',
          rowInfo: [
            {number: 1, name: "Лоб", price: 2000},
            {number: 2, name: "Межбровье", price: 1500},
            {number: 3, name: "Уши", price: 3350},
            {number: 4, name: "Подбородок", price: 1200}
          ]
        }
      #price.someService__priceTable
        h3.title-bg= tableInfo.title
        table
          thead
            tr
              td №
              td Наименование
              td Цена
            tr.-name
              td= tableInfo.tableName
          tbody
            each item, key in tableInfo.rowInfo
              - if (key == 1)
                //- добавляеть class '-active' если есть параметр скидки для продукта
                tr.-active
                  td= item.number
                  td.-name= item.name
                    //- добавляеть span если есть параметр скидки для продукта
                    span -20%
                  td= item.price
              - else
                tr
                  td= item.number
                  td.-name= item.name
                  td= item.price
      +_btnConsult("ЗАПИСАТЬСЯ", true)
      section#FAQ.someService__FAQ
        h2.title-bg Вопрос - Ответ
        -
          var questions = [
            'Основные причины появления пяточной шпоры',
            'Симптомы пяточной шпоры',
            'Лечение пяточной шпоры в Краснодаре',
            'Процедуры УВТ не имеют побочных эффектов'
          ]

        .someService__FAQList
          each item in questions
            .someService__FAQItem
              .someService__FAQQuestion= item
              .someService__FAQAnswer
                p Основными причинами пяточной шпоры могут стать большие нагрузки на область пятки при плоскостопии, травмы, избыточный вес, возрастные изменения, ревматизм, нейродистрофические изменения. Зачастую к пяточной шпоре добавляется воспалительный процесс.
                p В группе риска развития этого заболевания находиться люди старше 40 лет, с ожирением, страдающие артритом, также люди, страдающие подагрой и заболеваниями крупных суставов.
      section.someService__result
        h2.title-bg До и после
        .someService__resultImageBox
          img(src="assets/img/serviceResult/1.png", alt="").someService__resultImage
      section#reviews.reviewsBlock
        h2.title-bg Отзывы о процедуре

        -
          var reviews = [
            {name: 'Евгений', date: '11 ноября 2016 г.', text: 'Делал пластику уздечки, врач Мамедов Халит. Спасибо врачу и клинике, все прошло просто и быстро. Долго готовился, боялся, а оказалось 10 минут и готово, спасибо'},
            {name: 'Александр', date: '28 ноября 2016 г.', text: 'Сделал татуировку в молодости. Переживал за не презентабельный внешний вид, тем более что татуировку было видно из-под рубашки. Обратился в Лазмед. За 4 сеанса мне полностью ее вывели!'},
            {name: 'Максим', date: '23 ноября 2016 г.', text: 'Отличный центр. Высококлассные специалисты(по крайней мере удаляющие бородавки) Спасибо Вам большое!'}
          ]
        .reviewsBlock__list#reviewsPlate
          each item in reviews
            .reviewsBlock__item
              p.reviewsBlock__itemName= item.name
              span.reviewsBlock__itemDate= item.date
              p.reviewsBlock__itemText= item.text
      section#specialists.specialists.-index
        h2.title-bg Специалисты
        -
          var specialists = [
            {name: 'Захарова', name2: 'Диана Владимировна', src: 'assets/img/specialists/1.png', status: 'врач-дерматовенеролог'},
            {name: 'Коротких', name2: 'Вячеслав Сергеевич', src: 'assets/img/specialists/2.png', status: 'врач-физиотерапевт'}
          ]
        ul.specialists__list
          each item in specialists
            li.specialists__item
              .specialists__imagebox
                img(src= item.src, alt="alt").specialists__image
              a(href="#").specialists__name
                span= item.name
                br
                span= item.name2
              span.specialists__status= item.status
        +_btnConsult("Получить консультацию", true)